<div class="container-fluid">
	<table class="table" ng-if="existingPartialRegistrations && existingPartialRegistrations.length > 0">
		<tbody>
			<tr
				ng-repeat="registration in existingPartialRegistrations"
				ng-click="openPartialRegistration(registration.id)">
				<td>
					<a ui-sref="finishPartialRegistration({registrationId: registration.id})">
						{{registration.person.first_name + ' ' + registration.person.last_name}}
					</a>
				</td>
				<td>12/12/2015</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-info">
		<strong>There are no partial registrations</strong>
	</div>
</div>
