<div class="container text-center">
	<div class="spacer-35"></div>

	<div ng-if="userlevel < 0" class="row spacer-20">
	 	<a ui-sref="checkin({programID: currentProgram.id})" ui-sref-active="active" class="btn btn-primary">Begin Check-in</a>
	</div>
	<div ng-if="userlevel >= 0" class="row spacer-20">
	 	<a ui-sref="checkin({programID: currentProgram.id, instructor: true})" ui-sref-active="active" class="btn btn-primary">Instructor Check-in</a>
	</div>
	<div class="row spacer-20">
		<a ui-sref-active="active" class="btn btn-primary" ng-click="openChangeProgram()">Change Program</a>
	</div>
	<div ng-if="userlevel >= 0" class="row spacer-20">
		<a ui-sref="attendance" ui-sref-active="active" class="btn btn-primary">Class Attendance</a>
	</div>
	<div ng-if="userlevel >= 1" class="row spacer-20">
		<a ui-sref-active="active" class="btn btn-primary" ng-click="openAddProgram()">Add Program</a>
	</div>
	<div ng-if="userlevel >= 0" ng-if="userlevel < 0" class="row spacer-20">
		<a ui-sref="registration" ui-sref-active="active" class="btn btn-primary">Register</a>
	</div>
	<div ng-if="userlevel >= 0" class="row spacer-20">
		<a ui-sref="newPartialRegistration" ui-sref-active="active" class="btn btn-primary">New Partial Registration</a>
	</div>
	<div ng-if="userlevel >= 0" class="row spacer-20">
		<a ui-sref="partialRegistrations" ui-sref-active="active" class="btn btn-primary">Complete Registration</a>
	</div>
	<div class="row spacer-20">
	<div ng-if="userlevel >= 0" class="row spacer-20">
		<a ui-sref="studentlist" ui-sref-active="active" class="btn btn-primary">Student List</a>
	</div>
	<div ng-if="userlevel >= 1" class="row spacer-20">
		<a ui-sref="beltsStripes" ui-sref-active="active" class="btn btn-primary">Manage Belts and Stripes</a>
	</div>
	<div ng-if="userlevel >= 1" class="row spacer-20">
		<a ui-sref="importexport" ui-sref-active="active" class="btn btn-primary">Import/Export</a>
	</div>
</div>

<div id="modal-area">
</div>
