/*
 * Main SCSS File for App
 */

/* Bootstrap */

/* Override Bootstrap Variables */
$brand-primary: #7d7d7d;
$border-radius-base: 0px;

// Navbar Settings
$navbar-default-bg:                        $brand-primary;
$navbar-default-color:                     #FFF;
// Links
$navbar-default-link-color:                $navbar-default-color;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 6.5%);
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 6.5%);
// Active Link
$navbar-default-link-active-color:         darken($navbar-default-link-color, 6.5%);
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
// Brand
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-link-color, 6.5%);
$navbar-default-brand-hover-bg:            darken($navbar-default-bg, 6.5%);
// Toggle
$navbar-default-toggle-hover-bg:           darken($navbar-default-bg, 6.5%);
$navbar-default-toggle-icon-bar-bg:        $navbar-default-color;
$navbar-default-toggle-border-color:       $navbar-default-color;

//remove button border radius
$border-radius-large: 0px;
$border-radius-small: 0px;


// Import Bootstrap
$icon-font-path: "./lib/bootstrap-sass/assets/fonts/bootstrap/";
@import "./lib/bootstrap-sass/assets/stylesheets/bootstrap";

/* Import Component SCSS */
@import "./components/nav/nav";
@import "./components/checkin/checkin";
@import "./components/students/detail/student.detail";
@import "./lib/angular-color-picker/angular-color-picker";

// Push containers below navbar
#appContainer {
	padding-top: 70px;
}

.spacer-top-5 {
	margin-top: 5px;
}

.spacer-10 {
	margin-bottom: 10px;
}

	.spacer-20 {
	margin-bottom: 20px;
}

.spacer-25 {
	margin-bottom: 25px;
}

// make btn-lg have more padding
.btn-lg {
	padding-top: 15px;
	padding-bottom: 15px;
}

//Custom styles for waiver text
.spacer-35 {
	margin-bottom: 35px;
}

.normal-text {
	font-weight: normal;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.no-margins {
	margin: 0px;
}

.no-right-padding {
	padding-right: 0px;
}

.no-padding {
	padding: 0px;
}

//Custom styles for the belts-stripes page
.belt-preview {
	height: 30px;
	width: 100%;
	border: gray 1px solid;
}

.picker-cursor>._hues>._cursor{
	left: -6px;
	width: 40px;
}

//Custom styles for the class list page
.entry span {
	padding-right: 20px;
}

.entry div {
	padding-left: 30px;
}

.entry-picture {
	margin-top: 30px;
	margin-right: 5px;
}

.checkboxes {
	margin-top: 6px;
}

.filter-bar {
	margin-bottom: 30px;
	margin-top: 20px;
}

select {
	width: 100% !important;
}

label {
    font-weight: normal;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 8px;
}
