/*
 * Main SCSS File for App
 */

/* Bootstrap */
$border-radius-base: 0px;

//remove button border radius
$border-radius-large: 0px;
$border-radius-small: 0px;

// Import Bootstrap and Bootswatch Theme
$icon-font-path: "./lib/bootstrap-sass/assets/fonts/bootstrap/";
@import "./lib/bootswatch/flatly/_variables";
@import "./lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./lib/bootswatch/flatly/_bootswatch";

// Import Card CSS
@import "./lib/bootstrap-3-card/sass/_card";

// Import color picker
@import "./lib/angular-color-picker/angular-color-picker";

/* Import Component SCSS */
@import "./components/nav/nav";
@import "./components/webcam/webcam";
@import "./components/checkin/checkin";
@import "./components/students/detail/student.detail";
@import "./components/belts-stripes/belts-stripes";
@import "./components/studentlist/studentlist";
@import "./components/importexport/importexport";
@import "./components/programs/programs";
@import "./components/home/choose-program";
@import "./components/registration/registration";
@import "./components/attendance/attendance";
@import "./components/user-management/user-management";

// Push containers below navbar
#appContainer {
	padding-top: 20px;
}

.padding-top-7 {
	padding-top: 7px;
}

.padding-top-10 {
	padding-top: 10px;
}

.spacer-top-10 {
	margin-top: 10px;
}

.spacer-5 {
	margin-bottom: 5px;
}

.spacer-10 {
	margin-bottom: 10px;
}

.spacer-20 {
	margin-bottom: 20px;
}

.spacer-25 {
	margin-bottom: 25px;
}

// make btn-lg have more padding
.btn-lg {
	padding-top: 15px;
	padding-bottom: 15px;
}

//Custom styles for waiver text
.spacer-35 {
	margin-bottom: 35px;
}

.normal-text {
	font-weight: normal;
}

.info-text {
	font-weight: bold;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.no-margins {
	margin: 0px;
}

.no-left-padding {
	padding-left: 0px;
}

.no-right-padding {
	padding-right: 0px;
}

.no-padding {
	padding: 0px;
}

.no-display {
	display: none !important;
}

.link-pointer {
	cursor: pointer;
}

ul.uib-datepicker-popup .btn-default {
	color: #3f5060;
	background: #f7f7f7;
}

.checkin ul.uib-datepicker-popup .active span {
	color: #3f5060;
}

.link-card{
	height: 139px;
	text-align: center;
	padding: 0;
	cursor: pointer;

	.btn{
		width: 100%;
	}

	h3{
		margin-top: 1px;
		margin-bottom: 3px;
		font-size: 17px;
	}

	h4{
		margin-top: 1px;
		margin-bottom: 3px;
		font-size: 15px;
		padding-top: 5px;
	}
}

select {
	width: 100% !important;
}

option {
	font-size: 20px;
}

label {
    font-weight: normal;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 8px;
}
