<div class="row spacer-20">
	<div class="col-sm-2" style="padding-left: 0px">
		<img class="img-responsive" ng-src="{{studentInfo.picture}}">
	</div>
	<div class="col-sm-10">
		<div class="row spacer-20">
			<span class="h2">{{studentInfo.first_name}} {{studentInfo.last_name}}</span>
			<div class="btn-group pull-right">
				<button class="btn btn-primary" type="button" ng-click="notYetImplemented()">
					Attendance
				</button>
				<button class="btn btn-warning" type="button">Edit</button>
			</div>
		</div>
		<div class="row h4 spacer-20" style="font-weight: normal">
			<span style="padding-right: 3em">Age: {{currentAge()}}</span>
			<span>Birthday: {{formattedBirthday()}}</span>
		</div>
		<div class="row h4 spacer-20" style="font-weight: normal">
			<span style="padding-right: 3em">Primary Phone: {{formatPhoneNumber(studentInfo.primary_phone)}}</span>
			<span ng-if="studentInfo.secondary_phone">
				Secondary Phone: {{formatPhoneNumber(studentInfo.secondary_phone)}}
			</span>
		</div>
		<div class="row h4" style="font-weight: normal">
			<span>Address: {{studentInfo.street}}, {{studentInfo.city}}, {{studentInfo.state}} {{studentInfo.zipcode}}</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-primary col-sm-5">
		<div class="panel-heading">
			Primary Emergency Contact
		</div>
		<div class="panel-body">
			<p>Name: {{primaryEmergencyContact.full_name}}</p>
			<p>Relationship: {{primaryEmergencyContact.relation}}</p>
			<p>Phone: {{formatPhoneNumber(primaryEmergencyContact.phone_number)}}</p>
		</div>
	</div>

	<div class="panel panel-primary col-sm-5 pull-right">
		<div class="panel-heading">
			Secondary Emergency Contact
		</div>
		<div class="panel-body">
			<p>Name: {{secondaryEmergencyContact.full_name}}<p>
			<p>Relationship: {{secondaryEmergencyContact.relation}}</p>
			<p>Phone: {{formatPhoneNumber(secondaryEmergencyContact.phone_number)}}</p>
		</div>
	</div>
</div>

<div class="row panel panel-primary" style="min-height: 350px">
	TBD: Student Notes
</div>
