.file-upload {
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;

	.vis-input {
		width: 100%;
	}

	.hidden-input {
		display: none;
	}
}

svg.stripes {
	width: 100% !important;
}

.tab-content {
	margin-top: 20px;
}

.h4-align {
	margin-top: 40px
}
