<div class="row alert alert-info" role="alert" ng-show="!studentLoaded">
	<strong>Loading...</strong>
</div>


<div class="row alert alert-info" role="alert" ng-show="studentDoesNotExist">
	<strong>This student does not exist</strong>
</div>

<div class="row alert alert-danger" role="alert" ng-show="studentRequestFailed">
	<strong>Could not retrieve student data</strong>
</div>

<div ng-show="studentLoaded && !studentDoesNotExist && !studentRequestFailed">
	<div class="row spacer-20">
		<div class="col-xs-2 no-padding">
			<img class="img-responsive {{studentBeltClass}}" ng-src="{{studentInfo.picture}}">
			<button class="btn btn-primary col-xs-12" type="button" ng-click="notYetImplemented()">Change</button>
		</div>
		<div class="col-xs-1 no-right-padding" style="padding-right: 0px">
			<svg ng-if="earnedStripes.length > 0" style="width: 100%">
				<line
					ng-repeat="stripe in earnedStripes track by $index"
					x1="0"
					x2="20"
					ng:attr:y1="{{(($index * 8) + 2)}}"
					ng:attr:y2="{{(($index * 8) + 2)}}"
					style="stroke: {{stripe.color | lowercase}}; stroke-width: 3" />
			</svg>
		</div>
		<div class="col-xs-9">
			<div class="row spacer-10">
				<span class="h2 col-xs-3 no-padding no-margins">
					{{studentInfo.firstName}} {{studentInfo.lastName}}
				</span>
				<div class="btn-group pull-right">
					<button class="btn btn-primary" type="button" ng-click="notYetImplemented()">
						Attendance
					</button>
					<button class="btn btn-warning" type="button" ng-click="notYetImplemented()">Edit</button>
				</div>
			</div>
			<div class="row h4 spacer-10 normal-text">
				Status: <span ng-class="{'text-success': studentInfo.active, 'text-danger': !studentInfo.active}">
					{{studentInfo.active ? 'Active' : 'Inactive'}}
				</span>
			</div>
			<div class="row h4 spacer-10 normal-text">
				<span style="padding-right: 3em">Age: {{currentAge()}}</span>
				<span>Birthday: {{formattedBirthday()}}</span>
			</div>
			<div class="row h4 spacer-10 normal-text">
				<tel-link phone="studentInfo.primaryPhone" label="'Primary Phone'" style="padding-right: 3em"></tel-link>
				<tel-link ng-if="studentInfo.secondaryPhone" phone="studentInfo.secondaryPhone" label="'Secondary Phone'">
				</tel-link>
			</div>
			<div class="row h4 spacer-10 normal-text">
				<span>Address: {{studentInfo.street}}, {{studentInfo.city}}, {{studentInfo.state}} {{studentInfo.zipcode}}</span>
			</div>
			<div class="row h4 normal-text">
				Emails:
				<span ng-repeat="email in studentInfo.emails">
					<a href="mailto:{{email.email}}">{{email.email}}</a>{{$last ? '' : ', '}}
				</span>
			</div>
		</div>
	</div>

	<div class="row" ng-show="studentLoaded && !studentDoesNotExist && !studentRequestFailed">
		<div class="panel panel-primary col-xs-5">
			<div class="panel-heading">
				Primary Emergency Contact
			</div>
			<div class="panel-body">
				Name: {{primaryEmergencyContact.fullName}}<br/>
				Relationship: {{primaryEmergencyContact.relation}}<br/>
				<tel-link phone="primaryEmergencyContact.phoneNumber" label="'Phone'"></tel-link>
			</div>
		</div>

		<div class="panel panel-primary col-xs-5 pull-right" ng-show="studentLoaded && !studentDoesNotExist && !studentRequestFailed">
			<div class="panel-heading">
				Secondary Emergency Contact
			</div>
			<div class="panel-body">
				Name: {{secondaryEmergencyContact.fullName}}<br/>
				Relationship: {{secondaryEmergencyContact.relation}}<br/>
				<tel-link phone="secondaryEmergencyContact.phoneNumber" label="'Phone'"></tel-link>
			</div>
		</div>
	</div>

	<div class="row panel panel-primary" style="min-height: 350px" ng-show="studentLoaded && !studentDoesNotExist && !studentRequestFailed">
		{{studentInfo.misc_notes}}
	</div>
</div>
