.btn.file-upload-btn {
	padding: 0;
	border: none;
	display: inline-block;
	cursor: pointer;

	.vis-input {
		width: 100%;
	}

	.hidden-input {
		display: none;
	}
}

svg.stripes {
	width: 100% !important;
}

.tab-content {
	margin-top: 20px;
}

.h3-align {
	margin-top: 32px
}

.list-group-btn-addon {
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
}

.panel {
	padding-left: 0px;
	padding-right: 0px;
}

.belt-achieve-row {
	background: #efefef;
}