<div class="row">

</div>

<div class="row">
	<div class="panel panel-primary col-sm-5">
		<div class="panel-heading">
			Primary Emergency Contact
		</div>
		<div class="panel-body">
			Name: {{primaryEmergencyContact.full_name}}<br/>
			Relationship: {{primaryEmergencyContact.relation}}<br/>
			Phone: {{formatPhoneNumber(primaryEmergencyContact.phone_number)}}<br/>
		</div>
	</div>

	<div class="panel panel-primary col-sm-5 pull-right">
		<div class="panel-heading">
			Secondary Emergency Contact
		</div>
		<div class="panel-body">
			Name: {{secondaryEmergencyContact.full_name}}<br/>
			Relationship: {{secondaryEmergencyContact.relation}}<br/>
			Phone: {{formatPhoneNumber(secondaryEmergencyContact.phone_number)}}<br/>
		</div>
	</div>
</div>

<div class="row panel panel-primary">
	TBD: Student Notes
</div>
