<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Confirm Delete: {{selectedUsername}}</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="alert alert-danger" ng-show="statusAlert.failure" uib-alert close="closeAlert('failure')">
			There was an error submitting your request.
	</div>
	Deleting an account is permanent. You will not be able to undo this change.
</div>
<div class="modal-footer">
  <button id="cancel-action" class="btn btn-danger btn-lg pull-left" type="button" ng-click="cancelModal()">Cancel</button>
  <button id="delete-yes" class="btn btn-success btn-lg pull-right" type="button" ng-click="deleteUser(selectedID)">Yes</button>
</div>
