<div class="modal-header">
	<h3 class="modal-title" id="modal-title"><div ng-show="selectedUsername">Set password for {{selectedUsername}}</div><div ng-hide="selectedUsername">Change Your Password</div></h3>
</div>
<form ng-submit="changePass(current, password, passwordRepeat, selectedID)">
	<div class="modal-body" id="modal-body">
		<div class="alert alert-danger" ng-show="statusAlert.failure" uib-alert close="closeAlert('failure')">
			There was an error submitting your request.
		</div>
		<div class="alert alert-danger" ng-show="statusAlert.incorrect" uib-alert close="closeAlert('incorrect')">
			Incorrect current password.
		</div>
		<div class="alert alert-danger" ng-show="statusAlert.missing" uib-alert close="closeAlert('missing')">
			All fields must be completed before submitting.
		</div>
		<div class="alert alert-danger" ng-show="statusAlert.password" uib-alert close="closeAlert('password')">
			New passwords fields must match.
		</div>

		<div class="form-group">
			<label for="current">Your Current Password</label>
			<input id="current" autofocus class="form-control" type="password" name="current" ng-required="true" ng-model="current">
		</div>
		<hr>
		<div class="form-group">
			<label for="password">New Password<span ng-show="selectedUsername"> for {{selectedUsername}}</span></label>
			<input id="password" class="form-control" type="password" name="password" ng-required="true" ng-model="password">
		</div>
		<div class="form-group">
			<label for="confirmation">Confirm New Password<span ng-show="selectedUsername"> for {{selectedUsername}}</span></label>
			<input id="confirmation" class="form-control" type="password" name="passwordRepeat" ng-required="true" ng-model="passwordRepeat">
		</div>
	</div>
	<div class="modal-footer" id="modal-footer">
  		<button id="cancel-action" class="btn btn-danger btn-lg pull-left" type="button" ng-click="cancelModal()">Cancel</button>
		<button class="btn btn-success btn-lg pull-right" id="update" type="submit">Update</button>
	</div>
</form>
