<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Primary Emergency Contact<h2>
	</div>
</div>
<div
	class="spacer-25"
	ng-class="{'has-error': registrationForm.emPrimaryFullName.$invalid && !registrationForm.emPrimaryFullName.$pristine, 'has-success': fieldHasSuccess('emPrimaryFullName') && registrationForm.emPrimaryFullName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="emPrimaryFullName"
			ng-required="isFieldRequired('emPrimaryFullName')"
			class="form-control"
			placeholder="Full Name"
			form-focus="currentFocusIndex === 0"
			ng-focus="setFocus(0)"
			ng-model="registrationInfo.person.emergency_contact_1.full_name">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span
		class="help-block"
		ng-show="registrationForm.emPrimaryFullName.$invalid && !registrationForm.emPrimaryFullName.$pristine">
		Must enter a full name
	</span>
</div>
<div class="row">
	<div
		class="col-xs-6"
		ng-class="{'has-error': registrationForm.emPrimaryPhone.$invalid && !registrationForm.emPrimaryPhone.$pristine, 'has-success': fieldHasSuccess('emPrimaryPhone') && registrationForm.emPrimaryPhone.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emPrimaryPhone"
				ng-required="isFieldRequired('emPrimaryPhone')"
				class="form-control input-group"
				placeholder="Phone Number"
				form-focus="currentFocusIndex === 1"
				ng-focus="setFocus(1)"
				ng-model="registrationInfo.person.emergency_contact_1.phone_number"
				mask="(999) 999-9999"
				clean="true"
				validate="true">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="registrationForm.emPrimaryPhone.$invalid && !registrationForm.emPrimaryPhone.$pristine">
			Must enter a valid phone number
		</span>
	</div>
	<div
		class="col-xs-6"
		ng-class="{'has-error': registrationForm.emPrimaryRelationship.$invalid && !registrationForm.emPrimaryRelationship.$pristine, 'has-success': fieldHasSuccess('emPrimaryRelationship') && registrationForm.emPrimaryRelationship.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emPrimaryRelationship"
				ng-required="isFieldRequired('emPrimaryRelationship')"
				class="form-control input-group"
				placeholder="Relationship"
				form-focus="currentFocusIndex === 2"
				ng-focus="setFocus(2)"
				ng-model="registrationInfo.person.emergency_contact_1.relation">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="registrationForm.emPrimaryRelationship.$invalid && !registrationForm.emPrimaryRelationship.$pristine">
			Must enter a relationship
		</span>
	</div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Secondary Emergency Contact<h2>
	</div>
</div>
<div
	class="spacer-25"
	ng-class="{'has-error': registrationForm.emSecondaryFullName.$invalid && !registrationForm.emSecondaryFullName.$pristine, 'has-success': fieldHasSuccess('emSecondaryFullName') && registrationForm.emSecondaryFullName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="emSecondaryFullName"
			class="col-xs-12 form-control spacer-25"
			placeholder="Full Name"
			form-focus="currentFocusIndex === 3"
			ng-required="isFieldRequired('emSecondaryFullName')"
			ng-focus="setFocus(3)"
			ng-model="registrationInfo.person.emergency_contact_2.full_name">
		<span ng-if="isFieldRequired('emSecondaryFullName')" class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span
		class="help-block"
		ng-show="registrationForm.emSecondaryFullName.$invalid && !registrationForm.emSecondaryFullName.$pristine">
		Must enter a full name
	</span>
</div>
<div class="row spacer-25">
	<div class="col-xs-6"
		ng-class="{'has-error': registrationForm.emSecondaryPhone.$invalid && !registrationForm.emSecondaryPhone.$pristine, 'has-success': fieldHasSuccess('emSecondaryPhone') && registrationForm.emSecondaryPhone.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emSecondaryPhone"
				class="form-control input-group"
				placeholder="Phone Number"
				form-focus="currentFocusIndex === 4"
				ng-required="isFieldRequired('emSecondaryPhone')"
				ng-focus="setFocus(4)"
				ng-model="registrationInfo.person.emergency_contact_2.phone_number"
				mask="(999) 999-9999"
				clean="true"
				validate="true">
			<span ng-if="isFieldRequired('emSecondaryPhone')" class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="registrationForm.emSecondaryPhone.$invalid && !registrationForm.emSecondaryPhone.$pristine">
			Must enter a valid phone number
		</span>
	</div>
	<div
		class="col-xs-6"
		ng-class="{'has-error': registrationForm.emSecondaryRelationship.$invalid && !registrationForm.emSecondaryRelationship.$pristine, 'has-success': fieldHasSuccess('emSecondaryRelationship') && registrationForm.emSecondaryRelationship.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emSecondaryRelationship"
				class="form-control input-group"
				placeholder="Relationship"
				form-focus="currentFocusIndex === 5"
				ng-required="isFieldRequired('emSecondaryRelationship')"
				ng-focus="setFocus(5)"
				ng-model="registrationInfo.person.emergency_contact_2.relation">
			<span ng-if="isFieldRequired('emSecondaryRelationship')" class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="registrationForm.emSecondaryRelationship.$invalid && !registrationForm.emSecondaryRelationship.$pristine">
			Must enter a relationship
		</span>
	</div>
</div>
