<div class="row spacer-25">
	<h2 class="col-xs-12">Basic Information</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>First Name</td>
				<td>{{registrationInfo.person.first_name}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{registrationInfo.person.last_name}}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>
					{{registrationInfo.person.street}}, {{registrationInfo.person.city}}, {{registrationInfo.person.state.value}} {{registrationInfo.person.zipcode}}
				</td>
			</tr>
			<tr>
				<td>Email(s)</td>
				<td>{{getFormattedEmailList()}}</td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td>{{formattedDob()}}</td>
			</tr>
			<tr>
				<td>Primary Phone</td>
				<td>{{formattedPhoneNumber(registrationInfo.person.primary_phone)}}</td>
			</tr>
			<tr>
				<td>Secondary Phone</td>
				<td>{{formattedPhoneNumber(registrationInfo.person.secondary_phone)}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row spacer-25">
	<h2 class="col-xs-12">Emergency Contact</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>Primary Contact Name</td>
				<td>{{registrationInfo.person.emergency_contact_1.full_name}}</td>
			</tr>
			<tr>
				<td>Primary Contact Phone</td>
				<td>{{formattedPhoneNumber(registrationInfo.emergency_contact_1.phone_number)}}</td>
			</tr>
			<tr>
				<td>Primary Contact Relationship</td>
				<td>{{registrationInfo.emergency_contact_1.relation}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Name</td>
				<td>{{registrationInfo.emergency_contact_2.full_name}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Phone</td>
				<td>{{formattedPhoneNumber(registrationInfo.emergency_contact_2.phone_number)}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Relationship</td>
				<td>{{registrationInfo.emergency_contact_2.relation}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row review">
	<h2 class="col-xs-12">Waiver</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>Participant</td>
				<td>{{registrationInfo.person.waivers[0].waiver_signature}}</td>
			</tr>
			<tr ng-if="!isLegalAdult()">
				<td>Guardian</td>
				<td>{{registrationInfo.person.waivers[0].guardian_signature}}</td>
			</tr>
			<tr>
				<td>Signed?</td>
				<td ng-if="waiverSigned()">
					Yes
				</td>
				<td ng-if="!waiverSigned()">
					No
				</td>
			</tr>
		</tbody>
	</table>
</div>
