<div class="left-30">
	<div class="row spacer-25">
		<h2 class="spacer-10">Basic Information</h2>
		<div class="row data-row">
			<div class="col-xs-6"><b>First Name</b></div>
			<div class="col-xs-6">{{registrationInfo.person.first_name}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Last Name</b></div>
			<div class="col-xs-6">{{registrationInfo.person.last_name}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Street</b></div>
			<div class="col-xs-6">{{registrationInfo.person.street}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>City</b></div>
			<div class="col-xs-6">{{registrationInfo.person.city}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>State</b></div>
			<div class="col-xs-6">{{registrationInfo.person.state.value}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Zipcode</b></div>
			<div class="col-xs-6">{{registrationInfo.person.zipcode}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Email(s)</b></div>
			<div class="col-xs-6">{{getFormattedEmailList()}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Date of Birth</b></div>
			<div class="col-xs-6">{{formattedDob()}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Primary Phone</b></div>
			<div class="col-xs-6">{{formattedPhoneNumber(registrationInfo.person.primary_phone)}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Secondary Phone</b></div>
			<div class="col-xs-6">{{formattedPhoneNumber(registrationInfo.person.secondary_phone)}}</div>
		</div>
	</div>

	<div class="row spacer-25">
		<h2 class="spacer-10">Emergency Contact</h2>
		<div class="row data-row">
			<div class="col-xs-6"><b>Primary Contact Name</b></div>
			<div class="col-xs-6">{{registrationInfo.person.emergency_contact_1.full_name}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Primary Contact Phone</b></div>
			<div class="col-xs-6">{{formattedPhoneNumber(registrationInfo.person.emergency_contact_1.phone_number)}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Primary Contact Relationship</b></div>
			<div class="col-xs-6">{{registrationInfo.person.emergency_contact_1.relation}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Secondary Contact Name</b></div>
			<div class="col-xs-6">{{registrationInfo.person.emergency_contact_2.full_name}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Secondary Contact Phone</b></div>
			<div class="col-xs-6">{{formattedPhoneNumber(registrationInfo.person.emergency_contact_2.phone_number)}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Secondary Contact Relationship</b></div>
			<div class="col-xs-6">{{registrationInfo.person.emergency_contact_2.relation}}</div>
		</div>
	</div>

	<div class="row spacer-25">
		<h2 class="spacer-10">Waiver</h2>
		<div class="row data-row">
			<div class="col-xs-6"><b>Participant</b></div>
			<div class="col-xs-6">{{registrationInfo.person.waivers[0].waiver_signature}}</div>
		</div>
		<div class="row data-row" ng-if="!isLegalAdult()">
			<div class="col-xs-6"><b>Guardian</b></div>
			<div class="col-xs-6">{{registrationInfo.person.waivers[0].guardian_signature}}</div>
		</div>
		<div class="row data-row">
			<div class="col-xs-6"><b>Signed</b></div>
			<div class="col-xs-6">
				<div ng-if="waiverSigned()">Yes</div>
				<div ng-if="!waiverSigned()">No</div>
			</div>
		</div>
	</div>
</div>