<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Primary Emergency Contact<h2>
	</div>
</div>
<input
	type="text"
	class="form-control margin-bottom"
	placeholder="Full Name"
	ng-model="registrationInfo.em_primary_full_name">
<div class="row">
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Phone Number"
			ng-model="registrationInfo.em_primary_phone">
	</div>
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Relationship"
			ng-model="registrationInfo.em_primary_relationship">
	</div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Secondary Emergency Contact<h2>
	</div>
</div>
<input
	type="text"
	class="col-xs-12 form-control margin-bottom"
	placeholder="Full Name"
	ng-model="registrationInfo.em_secondary_full_name">
<div class="row margin-bottom">
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Phone Number"
			ng-model="registrationInfo.em_secondary_phone">
	</div>
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Relationship"
			ng-model="registrationInfo.em_secondary_relationship">
	</div>
</div>
