<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Primary Emergency Contact<h2>
	</div>
</div>
<input
	type="text"
	class="form-control spacer-25"
	placeholder="Full Name"
	ng-model="registrationInfo.emPrimaryFullName">
<div class="row">
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Phone Number"
			ng-pattern="phoneNumberPattern"
			ng-model="registrationInfo.emPrimaryPhone">
	</div>
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Relationship"
			ng-model="registrationInfo.emPrimaryRelationship">
	</div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Secondary Emergency Contact<h2>
	</div>
</div>
<input
	type="text"
	class="col-xs-12 form-control spacer-25"
	placeholder="Full Name"
	ng-model="registrationInfo.emSecondaryFullName">
<div class="row spacer-25">
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Phone Number"
			ng-pattern="phoneNumberPattern"
			ng-model="registrationInfo.emSecondaryPhone">
	</div>
	<div class="col-xs-6">
		<input
			type="text"
			class="form-control input-group"
			placeholder="Relationship"
			ng-model="registrationInfo.emSecondaryRelationship">
	</div>
</div>
