<div>
	<div class="col-sm-6">
		<h3 ng-if="currentBelt">
			Current belt: {{currentBelt.name}}
		</h3>
		<h3 ng-if="currentBelt === undefined">
			This student does not have a belt.
		</h3>
	</div>
	<div class="col-sm-6 form-group">
		<label class="control-label">
			<span class="h3">New Belt</span>
		</label>
		<select
			class="form-control"
			ng-options="belt as belt.name for belt in allBelts track by belt.id"
			ng-model="newBelt">
			<option value="">Select a new Belt</option>
		</select>
	</div>
</div>
