<ng-include src="'registration/waiver/waiver_text.html'"></ng-include>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.participantSignature.$invalid && !registrationForm.participantSignature.$pristine}">
	<input
		type="text"
		name="participantSignature"
		class="form-control spacer-25"
		placeholder="Participant Signature"
		ng-model="registrationInfo.participantSignature"
		required>
	<span class="help-text" ng-show="registrationForm.participantSignature.$invalid && !registrationForm.participantSignature.$pristine">
		Participant must provide a digital signature
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.guardianSignature.$invalid && !registrationForm.guardianSignature.$pristine}">
	<input
		type="text"
		name="guardianSignature"
		class="form-control"
		placeholder="Guardian Signature"
		ng-if="!isLegalAdult()"
		ng-model="registrationInfo.guardianSignature"
		required>
	<span class="help-text" ng-show="registrationForm.guardianSignature.$invalid && !registrationForm.guardianSignature.$pristine">
		Guardian must provide a digital signature
	</span>
</div>
