<ng-include src="'registration/waiver/waiver_text.html'"></ng-include>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.participantSignature.$invalid && submitted}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="participantSignature"
			class="form-control spacer-25"
			placeholder="Participant Signature"
			form-focus="currentFocusIndex === 0"
			ng-focus="setFocus(0)"
			ng-model="registrationInfo.participantSignature"
			ng-required="true">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.participantSignature.$invalid && submitted">
		Participant must provide a digital signature
	</span>
</div>

<div class="spacer-25"
	ng-if="!isLegalAdult()"
	ng-init="numElements = 2"
	ng-class="{'has-error': registrationForm.guardianSignature.$invalid && submitted}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="guardianSignature"
			class="form-control"
			placeholder="Guardian Signature"
			form-focus="currentFocusIndex === 1"
			ng-focus="setFocus(1)"
			ng-model="registrationInfo.guardianSignature"
			ng-required="true">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.guardianSignature.$invalid  && submitted">
		Guardian must provide a digital signature
	</span>
</div>
