<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Program</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="container-fluid">
        <div class="row" ng-show="editProgramAlert.error">
            <div class="spacer-20"></div>
            <div class="col-sm-12">
                <div class="alert alert-danger" ng-show="editProgramAlert.error">{{editProgramAlert.error}}</div>
            </div>
        </div>
        <div class="row no-margins">
            <div>  
                <input type="text" class="form-control" id="program" ng-model="curProgram.name" maxlength="50" placeholder="Program Name">
            </div>
        </div>
        <span class="checkbox-inline csv-spacer program-active-checkbox">
            <label class="csv-checkbox">Active
                <input
                    ng-model="curProgram.active"
                    type="checkbox"
                    name="active"
                    class="pull-right style-2"
                    checked = checked>
            </label>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="closeModal()">Close</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="updateProgram(curProgram)">Save</button>
</div>
