<div class="container">
    <div class="row">
        <div class="row col-sm-2 program-back-btn">
            <button id="backBtn" class="row btn btn-primary" ng-click="backNavigate()">
               <span class="glyphicon glyphicon-chevron-left"></span>
               Back
           </button>
        </div>
        <div class="row alert alert-danger col-sm-8 program-alert" role="alert" ng-show="alerts.error">
            <strong>{{alerts.errorText}}</strong>
        </div>
        <div class="row alert alert-success col-sm-8 program-alert" role="alert" ng-show="alerts.success">
            <strong>Successfully updated program data</strong>
        </div>
        <div class="row alert alert-info col-sm-8 program-alert" role="alert" ng-show="!loaded">
            <strong>Loading...</strong>
        </div>
    </div>

    <div ng-show="loaded">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <h3 class="spacer-20 col-xs-10">Edit Program</h3>
                <div class="col-xs-2 program-save-btn">
                    <button type="submit" class="btn btn-success pull-right spacer-25" ng-click="updateProgram()">Save</button>
                </div>
            </div>
            <div class="row col-xs-10">
                <div>
                    <input type="text" class="form-control" id="program" ng-model="program.name" maxlength="50" placeholder="Program Name">
                </div>
            </div>
            <span class="checkbox-inline csv-spacer program-active-checkbox col-xs-2">
                <label class="csv-checkbox">Active
                    <input
                        ng-model="program.active"
                        type="checkbox"
                        name="active"
                        class="pull-right style-2"
                        checked = checked>
                </label>
            </span>
            <h4 class="col-xs-12 programs-instruct-title no-padding">Student Instructors</h4>
            <div class="spacer-35">
                <div class="input-group col-sm-12">
                    <input
                        placeholder="Search For A Student To Add As An Instructor"
                        type="text"
                        ng-model="selectedInstructor"
                        typeahead-on-select="addInstructor()"
                        uib-typeahead="person as person.name for person in people | filter:{name:$viewValue} | limitTo:10"
                        class="form-control">
                </div>
            </div>
            <div ng-repeat="instructor in instructors" class="spacer-10">
                <div class="input-group col-sm-12 spacer-10">
                    <span class="form-control text-capitalize">{{instructor.person.first_name}} {{instructor.person.last_name}}</span>
                    <span class="input-group-btn">
                        <button
                            type="button"
                            class="btn btn-danger"
                            ng-click="removeInstructor($index)"
                            ng-show="instructors.length > 0">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </span>
                </div>
            </div>

            <h4 class="col-xs-12 programs-instruct-title no-padding">Program Students</h4>
            <div class="spacer-35">
                <div class="input-group col-sm-12">
                    <input
                        placeholder="Search For A Student To Add To This Program"
                        type="text"
                        ng-model="selectedStudent"
                        typeahead-on-select="addStudent()"
                        uib-typeahead="person as person.name for person in people | filter:{name:$viewValue} | limitTo:10"
                        class="form-control">
                </div>
            </div>
            <div ng-repeat="registration in registrations" class="spacer-10">
                <div class="input-group col-sm-12 spacer-10">
                    <span class="form-control text-capitalize">{{registration.person.first_name}} {{registration.person.last_name}}</span>
                    <span class="input-group-btn">
                        <button
                            type="button"
                            class="btn btn-danger"
                            ng-click="removeStudent($index)"
                            ng-show="registrations.length > 0">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-success pull-right spacer-25" ng-click="updateProgram()">Save</button>
            </div>
        </div>
    </div>
</div>