.program-name {
	padding-top: 20px;
	padding-left: 10px;

	font-size: 17px;
}

.program-entry {
	border: 2px solid #dce4ec;
}

.program-edit-btn {
	margin: 10px 0;
}

.program-active-checkbox {
	margin-top: 15px;
}