<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1">
			<select ng-model="currentClass" ng-change="updateCurrentClass(currentClass)"
			ng-options="class.name for class in classes">{{class.name}}
			</select>
		</div>
		<div class="col-xs-1">
			<div class="btn btn-primary" ng-click="toggleSortAlpha()">{{sortDisplayString}}</div>
		</div>
		<div class="col-xs-1">
			<input type="checkbox" name="activeBox" ng-model="filters.showActive" ng-click="getStudents(currentClass.id)"> Active
		</div>
		<div class="col-xs-1">
			<input type="checkbox" name="inactiveBox" ng-model="filters.showInactive" ng-click="getStudents(currentClass.id)"> Inactive
		</div>
		<div class="col-xs-1">
			<input type="checkbox" name="presentBox" ng-model="filters.showPresent" ng-click="getStudents(currentClass.id)"> Present
		</div>
		<div class="col-xs-1">
			<select ng-model="currentBelt" ng-options="belt as belt for belt in belts">
				<option value="">Select Belt</option>
			</select>
		</div>
		<div class="col-xs-1">
			<input type="search" name="searchbox">
		</div>
		<div class="col-xs-1">
			<input type="date" name="date">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1" ng-repeat="p in people">
			<div class="col-xs-2 text-center entry-picture">
				<img ng-src="{{p.picture}}">
			</div>
			<div class="col-xs-8 entry">
				
				<div class="row"><h2>{{p.person.first_name}} {{p.person.last_name}}</h2></div>
				<div class="row spacer-20">
					<span class="testing">Email: placeholderEmail@gmail.com</span> <!-- {{p.person.emails[0]}} -->
					<span>Phone: {{p.person.primary_phone}}</span>
				</div>
				<div class="row">
					Emergency Contact 1: 
					{{p.person.emgContact1}} Placeholder Name,
					{{p.person.emgPhone1}} 5853332221
				</div>
				<div class="row">
					Emergency Contact 2: 
					{{p.person.emgContact2}} Another Name,
					{{p.person.emgPhone2}} 4448887777
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>