<form ng-if="showTab.updateBelt" ng-submit="updateBelt(currentBelt)">
	<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0">
		<div class="alert alert-success" ng-show="statusAlert.success" uib-alert close="closeSuccessAlert()">
			Belt information was successfully updated.
		</div>

		<div class="alert alert-danger" ng-show="statusAlert.failure" uib-alert close="closeErrorAlert()">
			There was an error submitting the information changes.
		</div>

		<div class="form-group row">
			<div class="col-xs-10">
				<select class="form-control" ng-model="currentBelt" ng-options="belt as belt.display_name for belt in belts"></select>
			</div>
			<div class="col-xs-2 spacer-top-5">
				<div class="checkbox-inline">
					<label>
						<input type="checkbox" ng-model="currentBelt.active">Active
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<input type="text" placeholder="Name" class="form-control" ng-model="currentBelt.name" ng-required="true">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Primary Color" class="form-control" ng-model="currentBelt.primary_color" ng-init="color = currentBelt.primary_color" ng-click="updateFocus('primary')" ng-required="true">
		</div>
		<div class="form-group">
			<div class="belt-preview" ng-click="updateFocus('primary')" ng-style="{'background-color': currentBelt.primary_color }"></div>
		</div>
		<div class="form-group">
			<input type="text" placeholder="Secondary Color" class="form-control" ng-model="currentBelt.secondary_color" ng-init="color = currentBelt.secondary_color" ng-click="updateFocus('secondary')">
		</div>
		<div class="form-group">
			<div class="belt-preview" ng-click="updateFocus('secondary')" ng-style="{'background-color': currentBelt.secondary_color }"></div>
		</div>
	</div>	

	<div class="col-xs-4">
		<div class="form-group" ng-if="primaryFocused">
			<color-picker class="picker-cursor" ng-model="currentBelt.primary_color"></color-picker>
		</div>
		<div class="form-group" ng-if="secondaryFocused">
			<color-picker class="picker-cursor" ng-model="currentBelt.secondary_color"></color-picker>
		</div>
	</div>

	<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0 spacer-25">
		<button class="btn btn-success">Save</button>
	</div>
</form>

<form ng-if="showTab.createBelt" ng-submit="createBelt()">
	<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0">
		<div class="alert alert-success" ng-show="statusAlert.success" uib-alert close="closeSuccessAlert()">
			Information for new belt was successfully added.
		</div>

		<div class="alert alert-danger" ng-show="statusAlert.failure" uib-alert close="closeErrorAlert()">
			There was an error submitting the information changes.
		</div>
		
		<div class="form-group">
			<input type="text" placeholder="Name" class="form-control" ng-model="newBelt.name" ng-required="true">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Primary Color" class="form-control" ng-model="newBelt.primary_color" ng-init="color = newBelt.primary_color" ng-click="updateFocus('primary')" ng-required="true">
		</div>
		<div class="form-group">
			<div class="belt-preview" ng-click="updateFocus('primary')" ng-style="{'background-color': newBelt.primary_color }"></div>
		</div>
		<div class="form-group">
			<input type="text" placeholder="Secondary Color" class="form-control" ng-model="newBelt.secondary_color" ng-init="color = newBelt.secondary_color" ng-click="updateFocus('secondary')">
		</div>
		<div class="form-group">
			<div class="belt-preview" ng-click="updateFocus('secondary')" ng-style="{'background-color': newBelt.secondary_color }"></div>
		</div>
	</div>	

	<div class="col-xs-4">
		<div class="form-group" ng-if="primaryFocused">
			<color-picker class="picker-cursor" ng-model="newBelt.primary_color"></color-picker>
		</div>
		<div class="form-group" ng-if="secondaryFocused">
			<color-picker class="picker-cursor" ng-model="newBelt.secondary_color"></color-picker>
		</div>
	</div>

	<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0 spacer-25">
		<button class="btn btn-success">Save</button>
	</div>
</form>