<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create New Waiver Record</h3>
</div>
<form name="waiverForm" ng-submit="waiverForm.$valid && create(newWaiverSig, newWaiverGuardSig)">
    <div class="modal-body" id="modal-body">
        <input type="text" class="form-control spacer-10" ng-model="newWaiverSig" maxlength="50" placeholder="Signature" required>
        <input type="text" class="form-control" ng-model="newWaiverGuardSig" maxlength="50" placeholder="Guardian Signature (Optional)">
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-lg pull-left" type="button" ng-click="cancel()">Cancel</button>
        <input type="submit" class="btn btn-success btn-lg pull-right">
    </div>
</form>

