.navbar-center
{
   position: absolute;
   width: 100%;
   left: 0;
   text-align: center;
   margin: auto;

   margin-top: 13px;
   font-size: 24px;
}

.navbar-center-small{
	margin-left: 15px;
}

.navbar-right{
	margin-right: 0;
}

.navbar-text{
	float: none;
}

.pulled-text{
	font-size: 16px;
}
