<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">{{title}}</a>
    </div>
    <script type="text/ng-template" id="nav-item.html">
      <span ng-if="page.name && !page.url">{{page.name}}</span>
      <a ng-if="page.name && page.url && !(page.subPages && page.subPages.length)" href="{{page.url}}">{{page.name}}</a>
      <a ng-if="page.name && page.url && page.subPages && page.subPages.length" href="{{page.url}}" data-toggle="dropdown" role="button" aria-expanded="false"
      class="dropdown-toggle">{{page.name}} <span class="caret"></span>
      </a>
      <ul ng-if="page.subPages && page.subPages.length" class="dropdown-menu" role="menu">
        <li ng-class="{'divider': !page.name && !page.url, 'dropdown-header': page.name && !page.url, active: isUrl(page.url)}" ng-repeat="page in page.subPages" ng-include="'nav-item.html'">
        </li>
      </ul>
    </script>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="page in pages" ng-class="{active: isUrl(page.url)}" ng-include="'nav-item.html'">
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="showLogin">
        <li>
          <a href="" ng-if="!loggedin" ng-click="openLogin()" id="login">Login</a>
          <a href="" ng-if="loggedin" ng-click="logout()" id="logout">{{currentUser}} Logout</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="showCurrentProgram">
        <li><h2 class="current-class">{{currentProgram.name}}</h2></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
