<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Width < 765px -->
        <div class="navbar-text visible-xs navbar-center-small"><p>{{currentProgram.name}}</p></div>
    </div>

    <!-- Width < 992px and > 765px -->
    <div class="navbar-text visible-sm navbar-center"><p>{{currentProgram.name}}</p></div>

    <!-- Width > 992px -->
    <div class="navbar-text navbar-center hidden-xs hidden-sm"><p>{{currentProgram.name}}</p></div>

    <div class="navbar-collapse collapse pulled-text">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#/">Tioga Tae Kwon Do</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!loggedin" ng-click="openLogin()" id="login">
                <p class="navbar-text">Login</p>
            </li>
            <li ng-if="loggedin">
                <p class="navbar-text text-capitalize">{{currentUser}}</p>
            </li>
            <li ng-if="loggedin" ng-click="logout()" id="logout">
                <p class="navbar-text">Logout</p>
            </li>
        </ul>
    </div>
  </div>
</nav>
