<div>
	<div class="form-group col-sm-5">
		<label class="control-label">Current Stripes</label>
		<ul class="list-group">
			<a
				ui-sref="."
				class="list-group-item"
				ng-repeat="stripe in studentStripes"
				ng-click="onStudentStripeClick($index)"
				ng-class="{'active': stripe.active}">
				{{stripe.name}}
			</a>
		</ul>
	</div>
	<div class="col-sm-2" style="padding-top: 25px">
		<button type="button" class="btn btn-primary form-control spacer-10" ng-click="removeSelectedStripesFromStudent()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>

		<button type="button" class="btn btn-primary form-control" ng-click="addSelectedStripesToStudent()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
	</div>
	<div class="form-group col-sm-5">
		<label class="control-label">Available Stripes</label>
		<ul class="list-group">
			<a
				ui-sref="."
				class="list-group-item"
				ng-repeat="stripe in allStripes"
				ng-click="onAllStripeClick($index)"
				ng-class="{'active': stripe.active}">
				{{stripe.name}}
			</a>
		</ul>
	</div>
</div>
