//Custom styles for the belts-stripes page
.belt-preview {
	height: 30px;
	width: 100%;
	border: 2px solid #dce4ec;
}

.picker-cursor>._hues>._cursor{
	left: -6px;
	width: 40px;
}

.picker-cursor {
	border: 2px solid #dce4ec;
}

.stripe-preview {
	border: 2px solid #dce4ec;
	height: 45px;
}

.belts-stripes-buffer {
	margin-top: 30px;
}