//Custom styles for the belts-stripes page

.picker-cursor>._hues>._cursor{
	left: -6px;
	width: 40px;
}

.picker-cursor {
	border: 2px solid #dce4ec;
}

.stripe-preview {
	border: 2px solid #dce4ec;
	height: 45px;
}

.belts-stripes-buffer {
	margin-top: 60px;
}

@media only screen and (min-width: 1200px) {
	.preview-offset {
		margin-left: 30px;
	}

	.display-color-picker-small {
		display: none;
	}

	.belt-preview {
		margin-left: 35px;
	}
}

@media only screen and (max-width: 1199px) {
	.display-color-picker-regular {
		display: none;
	}

	.belt-preview {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 460px) {
	.belts-stripes-buffer {
		background-color: red;
	}
}
