<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0">
	<div class="form-group row">
		<div class="col-xs-10">
			<select class="form-control" ng-model="currentStripe" ng-options="stripe.name for stripe in stripes"></select>
		</div>
		<div class="col-xs-2 spacer-top-5">
			<div class="checkbox-inline">
				<label>
					<input type="checkbox" ng-model="currentStripe.active">Active
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Name" class="form-control" ng-model="currentStripe.name" ng-required="true">
	</div>
	<div class="form-group">
		<input type="text" placeholder="Color" class="form-control" ng-model="currentStripe.color" ng-init="color = currentStripe.color" ng-required="true">
	</div>
	<div class="form-group">
		<div class="belt-preview" ng-style="{'background-color': currentStripe.color }"></div>
	</div>
</div>	

<div class="col-xs-4">
	<div class="form-group">
		<color-picker ng-model="currentStripe.color"></color-picker>
	</div>
</div>

<div class="col-md-6 col-xs-12 col-md-offset-2 col-xs-offset-0 spacer-25">
	<button class="btn btn-success" ng-click="updateStripe(currentStripe)">Save</button>
</div>