.checkin {


	.checked-in-student {
	    opacity: 0.4;
	    filter: alpha(opacity=40); /* msie */
	    pointer-events: none;
	    cursor: default;
	}

	.checked-in-student-instruct {
	    opacity: 0.4;
	    filter: alpha(opacity=40); /* msie */
	}

	ul.uib-datepicker-popup {
		padding: 0;
		border-radius: 5px;

		.active span {
			color: white;
		}
	}

}

.checkin-modal img {
	max-height: 360px;
	width:auto;
	margin:auto;
}