.checkin {

	.checked-in-student {
	    opacity: 0.4;
	    filter: alpha(opacity=40); /* msie */
	    pointer-events: none;
	    cursor: default;
	}

	.checked-in-student-instruct {
	    opacity: 0.4;
	    filter: alpha(opacity=40); /* msie */
	}

	.datepicker {
		min-width: 210px;
	}

	ul.uib-datepicker-popup {
		padding: 0;
		border-radius: 5px;

		.active span {
			color: white;
		}
	}

	.thumbnail {
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		border: none;
		text-align: center;
	}

	.thumbnail-area {
		margin: auto;
	}
	
	svg.stripes {
		width: 20px !important;
		padding-left: 2px;
	}

}

.checkin-modal img {
	max-height: 360px;
	width:auto;
	margin:auto;
}

.no-instructors {
	color: red;
}

.spacer-100 {
	margin-top: 30px;
	margin-bottom: 100px;
}



@media only screen and (min-width: 1080px)  {
	.checkin {
		padding: 0;
		.thumbnail-area {
			width: 1040px;
		}

		.thumbnail img {
			width: 160px;
			height: 160px;
		}
	}
}

@media only screen and (max-width: 1080px) and (min-width: 780px)  {
	.checkin {

		.thumbnail-area {
			width: 600px;
		}

		.thumbnail img {
			width: 150px;
			height: 150px;
		}
	}
}

@media only screen and (max-width: 780px) and (min-width: 460px)  {
	.checkin {

		.thumbnail-area {
			width: 340px;
		}

		.thumbnail img {
			width: 120px;
			height: 120px;
		}
	}
}
