<div class="container checkin">
    <div class="row spacer-20">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <span class="h1">
                {{'Total Checked In: ' + totalCheckedInCount + '/' + people.length}}
            </span>
        </div>
    </div>
    <div class="row spacer-20" ng-if="isInstructor">
        <div class="col-xs-2 datepicker">
            <div class="input-group">
                <input id="datePicker" type="text" class="form-control"
                         uib-datepicker-popup="MM-dd-yyyy"
                         ng-model="selectedDate.value"
                         is-open="selectedDate.open"
                         close-text="Close"
                         ng-readonly="true"
                         ng-change="updateCheckins()"
                         ng-click="selectedDate.open = !selectedDate.open"
                         show-button-bar="false"/>
                <span class="input-group-btn">
                    <button id="calendarBtn" class="btn btn-default" ng-click="open()">
                    <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 pull-left">
            <select id="beltSelect" class="form-control" ng-model="filters.currentBelt">
                <option value="">All Belts</option>
                <option ng-repeat="belt in belts | orderBy: 'name' " ng-show="belt.relevant" value="{{belt.id}}" ng-model="belt.id">{{belt.name}}</option>
            </select>
        </div>
        <div class="col-xs-4 col-md-3 pull-right">
            <div class="btn-group pull-right">
                <label
                        id="checkinModeBtn"
                        class="btn btn-default"
                        ng-model="mode.value"
                        ng-change="updateHeader()"
                        uib-btn-radio="'Checkin'">
                    Checkin
                </label>
                <label
                        id="viewModeBtn"
                        class="btn btn-default"
                        ng-model="mode.value"
                        ng-change="updateHeader()"
                        uib-btn-radio="'View'">
                    View
                </label>
                <label
                        id="editModeBtn"
                        class="btn btn-default"
                        ng-model="mode.value"
                        ng-change="updateHeader()"
                        uib-btn-radio="'Edit'">
                    Edit
                </label>
            </div>
        </div>
    </div>

    <div class="row spacer-10">
        <div class="text-center">
            <h2 ng-if="!isInstructor">Click Your Picture to Check In</h2>
            <h2 ng-if="isInstructor">{{headerStr}}</h2>
        </div>
    </div>

    <div class="row thumbnail-area">
         <a href="" class="thumbnail"
           ng-click="isInstructor ? (clickStudentBasedOnMode(person))  : openCheckinPrompt(person)"
           ng-class="{'checked checked-in-student' : (!isInstructor && person.checkedIn ), 'unchecked' : !person.checkedIn}"
           ng-show="person.show"
           ng-repeat="person in people | orderBy: 'first_name' ">
            <div>
                <pic class="wrapper pic">
                    <img ng-if="person.picture_url" class="img-responsive {{studentBeltClass}} pull-left"
                         ng-src="{{apiHost}}/{{person.picture_url}}" ng-style="person.beltStyle"/>
                    <img ng-if="!person.picture_url" class="img-responsive {{studentBeltClass}} pull-left"
                         ng-src="./img/components/students/placeholder.png" ng-style="person.beltStyle"/>
                    <span ng-if="person.checkedIn" class="glyphicon glyphicon-ok-circle"></span>
                </pic>
    			<svg class="stripes pull-right">
					<rect
						ng-repeat="stripe in person.stripes track by $index"
						ng-if="stripe.stripe.color.toLowerCase() !== 'ffffff'"
						x="0"
						ng:attr:y="{{(($index * 8) + 2)}}"
						height="3"
						width="20"
						stroke="{{'#' + stripe.stripe.color | lowercase}}"
						fill="{{'#' + stripe.stripe.color | lowercase}}" />
					<rect
						ng-repeat="stripe in person.stripes track by $index"
						ng-if="stripe.stripe.color.toLowerCase() === 'ffffff'"
						x="0"
						ng:attr:y="{{(($index * 8) + 2)}}"
						height="3"
						width="20"
						stroke="black"
						stroke-width="1"
						fill="white" />
				</svg>
            </div>
            <div class="caption">
                <span class="person-name">{{person.first_name}} {{person.last_name}}</span>
            </div>
        </a>
    </div>
    <div ng-if="isInstructor" class="spacer-100">
        <div class="row">
            <div class="text-center">
                <h2 >Click An Instructor Picture to Check Them In</h2>
                <h3 class="no-instructors" ng-if="instructors.length === 0">There are no registered instructors for this program</h3>
            </div>
        </div>
        <div class="row thumbnail-area">
                 <a href="" class="thumbnail"
               ng-click="clickInstructorBasedOnMode(instructor)"
               ng-repeat="instructor in instructors | orderBy: 'first_name' ">
                <div class="wrapper">
                    <img ng-if="instructor.picture_url" class="img-responsive {{studentBeltClass}}"
                         ng-src="{{apiHost}}/{{instructor.picture_url}}"
                         ng-style="instructor.beltStyle">
                    <img ng-if="!instructor.picture_url" class="img-responsive {{studentBeltClass}}"
                         ng-src="./img/components/students/placeholder.png"
                         ng-style="instructor.beltStyle">
                    <span ng-if="instructor.checkedIn" class="glyphicon glyphicon-ok-circle"></span>
                </div>
                <div class="caption">
                    <span class="person-name">{{instructor.first_name}} {{instructor.last_name}}</span>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="checkin-modal">

</div>
