<div class="container-fluid">
	<div class="row">
		<div class="text-center">
			<h2 ng-if="!instructor">Click Your Picture to Check In</h2>
			<h2 ng-if="instructor">Click A Student Picture to Check Them In</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 right" ng-repeat="person in people | orderBy: 'first_name' ">
			<a href="" class="thumbnail" ng-click="instructor ? instructClickCheckin(person) : openCheckinPrompt(person)">
				<img ng-src="{{person.picture}}">
				<div class="caption">
					<span class="person-name">{{person.first_name}} {{person.last_name}}</span>
				</div>
			</a>
		</div>
		<div class="col-xs-2 right" ng-repeat="person in checkedInPeople | orderBy: 'first_name'">
			<a href="" class="thumbnail" ng-class="instructor ? 'checked-in-student-instruct' : 'checked-in-student'" ng-click="instructor ? instructClickDeleteCheckin(person) : ''">
				<img ng-src="{{person.picture}}">
				<div class="caption">
					<span class="person-name">{{person.first_name}} {{person.last_name}}</span>
				</div>
			</a>
		</div>
	</div>
</div>

<div id="checkin-modal">

</div>
