<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Confirm Check-in</h3>
</div>
<div class="modal-body" id="modal-body">
	<img ng-show="selectedPerson.picture_url" class="img-responsive {{studentBeltClass}}" ng-src="{{apiHost}}/{{selectedPerson.picture_url}}" ng-style="beltBorderStyle">
	<img ng-hide="selectedPerson.picture_url" class="img-responsive {{studentBeltClass}}" ng-src="./img/components/students/placeholder.png" ng-style="beltBorderStyle">
  <h4 class="text-center">Is this you?</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-lg pull-left" type="button" ng-click="no()">No</button>
  <button class="btn btn-success btn-lg pull-right" type="button" ng-click="yes()">Yes</button>
</div>
