<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Choose Your CSV Options</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>You may chose to limit your csv export with the following options:</p>
    <br>

    <label>Active Students:
        <input
            ng-model="exportOptions.exportActive"
            type="checkbox"
            name="active"
            placeholder="Active Students"
            checked = checked
            >
        </label><br>
    <label>Inactive Students:
        <input
            ng-model="exportOptions.exportInactive"
            type="checkbox"
            name="inactive"
            placeholder="Inactive Students">
    </label><br>
    <label>Program Filter:</label>
    <select class="form-control" ng-model="exportOptions.SelectedProgram">
        <option value="">Select Program</option>
        <optgroup label="Active">
            <option ng-repeat="program in programs | filter: {active:true}" value="{{program.id}}">{{program.name}}</option>
        </optgroup>
        <optgroup label="Inactive">
            <option ng-repeat="program in programs | filter: {active:false}" value="{{program.id}}">{{program.name}}</option>
        </optgroup>
    </select>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-lg pull-left" type="button" ng-click="cancelExport()">Cancel</button>
    <button class="btn btn-success btn-lg pull-right" type="button" ng-click="startExport()">Export</button>
</div>
