 <div class="container">
	<div class="row no-margins">
		<div class="card link-card col-xs-4 col-md-3 col-sm-4">
			<a ui-sref-active="active" class="btn btn-primary" ng-click="backup()">
				<h3 class="card-title">Backup</h3>
			</a>
			<div class="card-block" ng-click="backup()">
				<h4>Create a restore point for the system</h4>
			</div>
		</div>

		<div class="card link-card col-xs-4 col-md-3 col-sm-4">
			<a ui-sref-active="active" class="btn btn-primary" ng-click="openRestoreWarningModal()">
				<h3 class="card-title">Restore</h3>
			</a>
			<div class="card-block" ng-click="openRestoreWarningModal()">
				<h4>Restore system to an existing backup</h4>
			</div>
		</div>

		<div class="card link-card col-xs-4 col-md-3 col-sm-4">
			<a ui-sref-active="active" class="btn btn-primary" ng-click="exportAttendanceRecords()">
				<h3 class="card-title">Export Attendance</h3>
			</a>
			<div class="card-block" ng-click="exportAttendanceRecords()">
				<h4>Create a CSV for all attendance records</h4>
			</div>
		</div>

		<div class="card link-card col-xs-4 col-md-3 col-sm-4">
			<a ui-sref-active="active" class="btn btn-primary" ng-click="exportContacts()">
				<h3 class="card-title">Export Contacts</h3>
			</a>
			<div class="card-block" ng-click="exportContacts()">
				<h4>Create a CSV for all contacts in the system</h4>
			</div>
		</div>

		<div class="card link-card col-xs-4 col-md-3 col-sm-4">
			<a ui-sref-active="active" class="btn btn-primary" ng-click="exportExcel()">
				<h3 class="card-title">Export System</h3>
			</a>
			<div class="card-block" ng-click="exportExcel()">
				<h4>Create an Excel file with different sheets for each database table</h4>
			</div>
		</div>
	</div>
</div>

<div id="modal-area">
</div>
