.modal-message {
	font-size: 16px;
}

.modal-file-chooser{
	margin: 0px auto;
}

.csv-checkbox{
	margin-bottom: 3px;
}

.csv-spacer{
	margin-bottom: 9px;
	margin-top: 7px;
}

.export-card{
	height: 169px;
	text-align: center;
	padding: 0;

	.btn{
		width: 100%;
	}

	h3{
		margin-top: 1px;
		margin-bottom: 3px;
		font-size: 23px;
	}
}