<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Primary Emergency Contact<h2>
	</div>
</div>
<div
	class="spacer-25"
	ng-class="{'has-error': editForm.emPrimaryFullName.$invalid, 'has-success': editForm.emPrimaryFullName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="emPrimaryFullName"
			ng-required="true"
			class="form-control"
			placeholder="Full Name"
			ng-model="studentInfo.emergency_contact_1.full_name">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span
		class="help-block"
		ng-show="editForm.emPrimaryFullName.$invalid">
		Must enter a full name
	</span>
</div>
<div class="row">
	<div
		class="col-xs-6"
		ng-class="{'has-error': editForm.emPrimaryPhone.$invalid, 'has-success': editForm.emPrimaryPhone.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emPrimaryPhone"
				ng-required="true"
				class="form-control input-group"
				placeholder="Phone Number (e.g. 123-456-7890)"
				ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"
				ng-model="studentInfo.emergency_contact_1.phone_number">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="editForm.emPrimaryPhone.$invalid">
			Must enter a valid phone number (e.g. 123-456-7890)
		</span>
	</div>
	<div
		class="col-xs-6"
		ng-class="{'has-error': editForm.emPrimaryRelationship.$invalid, 'has-success': editForm.emPrimaryRelationship.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emPrimaryRelationship"
				ng-required="true"
				class="form-control input-group"
				placeholder="Relationship"
				ng-model="studentInfo.emergency_contact_1.phone">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="editForm.emPrimaryRelationship.$invalid">
			Must enter a relationship
		</span>
	</div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="text-center">Secondary Emergency Contact<h2>
	</div>
</div>
<div
	class="spacer-25"
	ng-class="{'has-error': editForm.emSecondaryFullName.$invalid, 'has-success': editForm.emSecondaryFullName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="emSecondaryFullName"
			class="col-xs-12 form-control spacer-25"
			placeholder="Full Name"
			ng-required="anySecondaryContactInfoEntered()"
			ng-model="studentInfo.emergency_contact_2.full_name">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span
		class="help-block"
		ng-show="editForm.emSecondaryFullName.$invalid">
		Must enter a full name
	</span>
</div>
<div
	class="row spacer-25">
	<div class="col-xs-6"
		ng-class="{'has-error': editForm.emSecondaryPhone.$invalid, 'has-success': editForm.emSecondaryPhone.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emSecondaryPhone"
				class="form-control"
				placeholder="Phone Number (e.g. 123-456-7890)"
				ng-required="anySecondaryContactInfoEntered()"
				ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"
				ng-model="studentInfo.emergency_contact_2.phone_number">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="editForm.emSecondaryPhone.$invalid">
			Must enter a valid phone number (e.g. 123-456-7890)
		</span>
	</div>
	<div
		class="col-xs-6"
		ng-class="{'has-error': editForm.emSecondaryRelationship.$invalid, 'has-success': editForm.emSecondaryRelationship.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="emSecondaryRelationship"
				class="form-control input-group"
				placeholder="Relationship"
				ng-required="anySecondaryContactInfoEntered()"
				ng-model="studentInfo.emergency_contact_2.relation">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span
			class="help-block"
			ng-show="editForm.emSecondaryRelationship.$invalid">
			Must enter a relationship
		</span>
	</div>
</div>
