
<div class="row spacer-25 tab-content">
	<form class="form-inline col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
		<div class="form-group col-xs-4 col-md-4">
			<div>Class</div>
			<select
				class="form-control"
				ng-model="filterData.selectedProgram"
				ng-change="onProgramChange()"
				ng-options="program as program.name for program in enrolledPrograms track by program.id">
				<option value="">All Classes</option>
			</select>
		</div>
		<div class="form-group col-xs-4 col-md-4 col-xs-offset-3 col-md-offset-3">
			<div>Date (Format: 03/14/2000)</div>
			<div class="input-group">
				<input
					type="text"
					class="form-control"
					name="dob"
					ng-required="true"
					uib-datepicker-popup="MM/dd/yyyy"
					datepicker-options="datePickerOptions"
					ng-model="filterData.date.value"
					is-open="filterData.date.open"
					close-text="Close">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="openCalendar()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
		<table class="table table-striped">
			<thead>
				<th>Date</th>
				<th>Class</th>
			</thead>
			<tbody>
				<tr ng-repeat="checkIn in checkIns track by $index">
					<td>{{checkIn.date}}</td>
					<td>{{checkIn.program}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
