<div class="container-fluid">
	<div class="row filter-bar">
		<div class="col-xs-1">
			<div class="btn btn-primary" ng-click="toggleSortAlpha()">{{sortDisplayString}}</div>
		</div>
		<div class="col-xs-2">
			<select class="form-control" ng-model="filters.currentClass" ng-change="setDisplayedStudents()"
			ng-options="class.name for class in classes">
				<option value="">Select Class</option>
			</select>
		</div>
		<div class="col-xs-2">
			<select class="form-control" ng-model="filters.currentBelt" ng-options="belt as belt for belt in belts">
				<option value="">Select Belt</option>
			</select>
		</div>
		<div class="col-xs-3 checkboxes">
			<span class="checkbox-inline">
				<label><input type="checkbox" name="activeBox" id="activeBox" ng-model="filters.showActive" ng-click="setDisplayedStudents()">Active</label>
			</span>
			<span class="checkbox-inline">
				<label><input type="checkbox" name="inactiveBox" ng-model="filters.showInactive" ng-click="setDisplayedStudents()">Inactive</label>
			</span>
			<span class="checkbox-inline">
				<label><input type="checkbox" name="presentBox" ng-model="filters.showPresent" ng-click="setDisplayedStudents()">Present</label>
			</span>
		</div>
		<div class="col-xs-2">
			<input type="search" class="form-control" placeholder="Search" name="searchbox" ng-model="filters.searchQuery">
		</div>
		<div class="col-xs-2">
	       	<div class="input-group">
	          	<input type="text" class="form-control" 
		                 uib-datepicker-popup="MM-dd-yyyy"
		                 ng-model="selectedDate.value"
		                 is-open="selectedDate.open"
		                 ng-required="true"
		                 close-text="Close"
		                 placeholder="Date" />
          		<span class="input-group-btn">
	          		<button class="btn btn-default" ng-click="open()">
	          		<i class="glyphicon glyphicon-calendar"></i></button> 
	          	</span>
	        </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1" ng-repeat="p in people | filter: (filters.currentBelt || undefined) && { person: { belt: filters.currentBelt } }| filter: filters.searchQuery | orderBy: 'person.first_name':!sortAZ">
			<div class="col-xs-2 text-center entry-picture">
				<img ng-src="{{p.person.picture}}">
			</div>
			<div class="col-xs-8 entry">
				<div class="row"><h2>{{p.person.first_name}} {{p.person.last_name}}</h2></div>
				<div class="row spacer-20">
					<span class="testing">Email: placeholderEmail@gmail.com</span>
					<span>Phone: {{p.person.primary_phone}}</span>
				</div>
				<div class="row">
					Emergency Contact 1: 
					{{p.person.emgContact1}} Placeholder Name,
					{{p.person.emgPhone1}} 5853332221
				</div>
				<div class="row">
					Emergency Contact 2: 
					{{p.person.emgContact2}} Another Name,
					{{p.person.emgPhone2}} 4448887777
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>