.padding-0 {
	padding: 0;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-right-0 {
	padding-right: 0;
}

.left-10 {
	margin-left: 10px;
}

.left-30{
	margin-left: 30px;
}

.checkboxes {
	padding: 0;
	margin-top: 10px;
}