<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Student Picture Camera</h3>
</div>
<div class="modal-body" id="modal-body">
  <webcam ng-show="!imagePreview" channel="myChannel" video="video"></webcam>
  <canvas ng-hide="!imagePreview"></canvas>
</div>
<div class="modal-footer">
  <button id="checkin-no" class="btn btn-danger btn-lg pull-left" type="button" ng-click="cancelPicture()">Cancel</button>
  <button ng-if="!imagePreview" ng id="checkin-yes" class="btn btn-success btn-lg pull-right" type="button" ng-click="takePicture()">Capture</button>
  <button ng-if="imagePreview" ng id="checkin-yes" class="btn btn-success btn-lg pull-right" type="button" ng-click="uploadCameraPicture()">Upload</button>
</div>
