video,
canvas {
  width: 100%;
  height: auto;
}

.webcam-modal {
  max-width: 800px;
  margin: auto;

  .modal-dialog {
    width: auto;
  }
  
  .rotate-btn {
    position: fixed;
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .webcam-modal {
    width: 90%;
  }
}
