<div class="row margin-bottom">
	<h2 class="col-xs-12">Basic Information</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>First Name</td>
				<td>{{registrationInfo.first_name}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{registrationInfo.last_name}}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>{{registrationInfo.street}}, {{registrationInfo.city}}, {{registrationInfo.state}} {{registrationInfo.zipcode}}</td>
			</tr>
			<tr>
				<td>Email(s)</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td>{{registrationInfo.dob.getMonth() + 1}}/{{registrationInfo.dob.getDate()}}/{{registrationInfo.dob.getFullYear()}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row margin-bottom">
	<h2 class="col-xs-12">Emergency Contact</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>Primary Contact Name</td>
				<td>{{registrationInfo.em_primary_full_name}}</td>
			</tr>
			<tr>
				<td>Primary Contact Phone</td>
				<td>{{registrationInfo.em_primary_phone}}</td>
			</tr>
			<tr>
				<td>Primary Contact Relationship</td>
				<td>{{registrationInfo.em_primary_relationship}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Name</td>
				<td>{{registrationInfo.em_secondary_full_name}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Phone</td>
				<td>{{registrationInfo.em_secondary_phone}}</td>
			</tr>
			<tr>
				<td>Secondary Contact Relationship</td>
				<td>{{registrationInfo.em_secondary_relationship}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row review">
	<h2 class="col-xs-12">Waiver</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>Participant</td>
				<td>{{registrationInfo.participant_signature}}</td>
			</tr>
			<tr>
				<td>Guardian</td>
				<td>{{registrationInfo.guardian_signature}}</td>
			</tr>
			<tr>
				<td>Signed?</td>
				<td ng-if="registrationInfo.participant_signature && registrationInfo.guardian_signature">
					Yes
				</td>
				<td ng-if="!registrationInfo.participant_signature || !registrationInfo.guardian_signature">
					No
				</td>
			</tr>
		</tbody>
	</table>
</div>
