<div class="container">
	<div class="alert alert-danger" ng-show="requestFlags.submission.failure" uib-alert close="closeErrorAlert()">
		There was an error submitting the information changes
	</div>

	<div class="alert alert-success" ng-show="requestFlags.submission.success" uib-alert close="closeSuccessAlert()">
		Information for {{studentInfo.first_name}} {{studentInfo.last_name}} has been successfully updated
	</div>

	<div class="alert alert-info" role="alert" ng-show="!requestFlags.loading.done">
		Loading...
	</div>

	<div class="alert alert-danger" ng-show="requestFlags.loading.failure" role="alert">
		Student Information could not be loaded!
	</div>

	<div class="row form-group spacer-20" ng-show="!requestFlags.loading.failure && requestFlags.loading.done">
		<button class="btn btn-primary" ng-click="backNavigate()">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Back
		</button>
	</div>

	<form name="editForm" ng-submit="submitChanges(editForm.$valid)" novalidate ng-show="!requestFlags.loading.failure">
		<div class="row spacer-25">
			<div class="row spacer-25">
				<uib-tabset type="pills" class="col-xs-12">
					<uib-tab heading="Belt Assignment">
						<belt-select current-belt="currentBelt" new-belt="studentInfo.newBelt"></belt-select>
					</uib-tab>
					<uib-tab heading="Stripe Assignment">
						<stripe-select student-stripes="studentInfo.stripes"></stripe-select>
					</uib-tab>
					<uib-tab heading="Programs">
						<div class="panel panel-primary tab-content">
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="program in registeredPrograms">
									{{program.name}}
									<button type="button" class="btn btn-danger list-group-btn-addon" ng-click="unregister(program)">
										Delete
									</button>
								</li>
								<li class="list-group-item" ng-if="registeredPrograms.length===0">
									This person is not registered for any classes.
								</li>
							</ul>
						</div>
						<div class="spacer-20"></div>
						<div class="input-group">
							<select class="form-control" ng-model="addProgramSelected" ng-options="program.name for program in programsToAdd">
								<option value="">Select a Program</option>
							</select>
							<span class="input-group-btn">
								<button class="btn btn-success" type="button" ng-click="registerForProgram(addProgramSelected)">Add</button>
							</span>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
			<div class="">
				<h4>Miscellaneous Notes</h4>
				<textarea class="form-control" rows="8" ng-model="studentInfo.misc_notes"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-lg spacer-25" ng-disabled="!editForm.$valid">Update</button>
	</form>
</div>
