<div class="spacer-25"
	ng-class="{'has-error': registrationForm.program.$invalid && !registrationForm.program.$pristine}">
	<select
		class="form-control"
		name="program"
		placeholder="Select a Program"
		ng-model="registrationInfo.program"
		required
		ng-options="program as program.name for program in programs track by program.id">
		<option value="">Select a Program</option>
	</select>
	<span class="help-block" ng-show="registrationForm.program.$invalid && !registrationForm.program.$pristine">
		Must select a program
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine}">
	<input
		type="text"
		name="firstName"
		class="form-control"
		placeholder="First Name"
		required
		ng-model="registrationInfo.firstName">
	<span class="help-block" ng-show="registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine">
		Must provide a first name
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine}">
	<input
		type="text"
		name="lastName"
		class="form-control"
		placeholder="Last Name"
		required
		ng-model="registrationInfo.lastName">
	<span class="help-block" ng-show="registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine">
		Must provide a last name
	</span>
</div>

<div class="spacer-25"
		ng-class="{'has-error': registrationForm.dob.$invalid && !registrationForm.dob.$pristine}">
	<label >Date of Birth</label>
	<input class="form-control" type="date" name="dob" required ng-model="registrationInfo.dob">
	<span class="help-block" ng-show="registrationForm.dob.$invalid && !registrationForm.dob.$pristine">
		Must provide a valid Date of Birth
	</span>
</div>

<div
	class="spacer-25"
	ng-class="{'has-error': registrationForm.street.$invalid && !registrationForm.street.$pristine}">
	<input
		type="text"
		name="street"
		class="form-control"
		placeholder="Address"
		required
		ng-model="registrationInfo.street">
	<span class="help-block" ng-show="registrationForm.street.$invalid && !registrationForm.street.$pristine">
		Must provide an address
	</span>
</div>

<div class="row spacer-25">
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.city.$invalid && !registrationForm.city.$pristine}">
		<input
			type="text"
			name="city"
			class="form-control"
			required
			placeholder="City"
			ng-model="registrationInfo.city">
		<span class="help-block" ng-show="registrationForm.city.$invalid && !registrationForm.city.$pristine">
			Must enter a city
		</span>
	</div>
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.state.$invalid && !registrationForm.state.$pristine}">
		<select
			class="form-control"
			name="state"
			placeholder="Select a State"
			ng-model="registrationInfo.state"
			required
			ng-options="state as state.name for state in states track by state.value">
			<option value="">Select a State</option>
		</select>
		<span class="help-block" ng-show="registrationForm.state.$invalid && !registrationForm.state.$pristine">
			Must select a state
		</span>
	</div>
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.zipcode.$invalid && !registrationForm.zipcode.$pristine}">
		<input
			type="text"
			name="zipcode"
			required
			class="form-control input-group"
			placeholder="ZIP Code"
			ng-model="registrationInfo.zipcode"
			ng-pattern="/^[0-9]{5}$/">
		<span class="help-block" ng-show="registrationForm.zipcode.$invalid && !registrationForm.zipcode.$pristine">
			ZIP Code must be a 5-digit number
		</span>
	</div>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.primaryPhone.$invalid && !registrationForm.primaryPhone.$pristine}">
	<input
		type="text"
		name="primaryPhone"
		class="form-control"
		placeholder="Primary Phone Number"
		required
		ng-pattern="phoneNumberPattern"
		ng-model="registrationInfo.primaryPhone">
		<span class="help-block" ng-show="registrationForm.primaryPhone.$invalid && !registrationForm.primaryPhone.$pristine">
			Must enter a valid, 10-digit, phone number
		</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.secondaryPhone.$invalid && !registrationForm.secondaryPhone.$pristine}">
	<input
		type="text"
		name="secondaryPhone"
		class="form-control"
		placeholder="Secondary Phone Number"
		ng-pattern="phoneNumberPattern"
		ng-model="registrationInfo.secondaryPhone">
	<span class="help-block" ng-show="registrationForm.primaryPhone.$invalid && !registrationForm.primaryPhone.$pristine">
		Must enter a valid, 10-digit, phone number
	</span>
</div>

<!-- TODO: add repeat section functionality -->
<div class="spacer-25"
	ng-class="{'has-error': registrationForm.email.$invalid && !registrationForm.email.$pristine}">
	<input
		type="email"
		name="email"
		class="form-control"
		placeholder="Email Address"
		required
		ng-model="registrationInfo.email">
	<span class="help-block" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">
		Must enter a valid email address
	</span>
</div>
