<div class="spacer-25"
	ng-class="{'has-error': registrationForm.program.$invalid && !registrationForm.program.$pristine, 'has-success': registrationForm.program.$valid}">
	<div class="input-group col-sm-12">
		<select
			class="form-control"
			name="program"
			placeholder="Select a Program"
			ng-model="registrationInfo.program"
			form-focus="currentFocusIndex === 0"
			ng-focus="setFocus(0)"
			ng-required="true"
			ng-options="program as program.name for program in programs track by program.id">
			<option value="">Select a Program</option>
		</select>
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.program.$invalid && !registrationForm.program.$pristine">
		Must select a program
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine, 'has-success': registrationForm.firstName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="firstName"
			class="form-control"
			placeholder="First Name"
			form-focus="currentFocusIndex === 1"
			ng-focus="setFocus(1)"
			ng-required="true"
			ng-model="registrationInfo.firstName">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine">
		Must provide a first name
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine, 'has-success': registrationForm.lastName.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="lastName"
			class="form-control"
			placeholder="Last Name"
			form-focus="currentFocusIndex === 2"
			ng-focus="setFocus(2)"
			ng-required="true"
			ng-model="registrationInfo.lastName">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine">
		Must provide a last name
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': (registrationForm.dob.$invalid && !registrationForm.dob.$pristine) || isTooYoung(), 'has-success': registrationForm.dob.$valid}">
	<label class="control-label">Date of Birth (e.g. 01-22-2002)</label>
	<div class="input-group">
		<input
			type="text"
			class="form-control"
			name="dob"
			form-focus="currentFocusIndex === 3"
			ng-focus="setFocus(3)"
			ng-required="true"
			uib-datepicker-popup="MM-dd-yyyy"
			ng-model="registrationInfo.dob.value"
			is-open="registrationInfo.dob.open"
			close-text="Close">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="openCalendar($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.dob.$invalid && !registrationForm.dob.$pristine">
		Must provide a valid Date of Birth
	</span>
	<span class="help-block" ng-show="isTooYoung()">
		Age provided is a year old or younger
	</span>
</div>

<div
	class="spacer-25"
	ng-class="{'has-error': registrationForm.street.$invalid && !registrationForm.street.$pristine, 'has-success': registrationForm.street.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="street"
			class="form-control"
			placeholder="Address"
			form-focus="currentFocusIndex === 4"
			ng-focus="setFocus(4)"
			ng-required="true"
			ng-model="registrationInfo.street">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.street.$invalid && !registrationForm.street.$pristine">
		Must provide an address
	</span>
</div>

<div class="row spacer-25">
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.city.$invalid && !registrationForm.city.$pristine, 'has-success': registrationForm.city.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="city"
				class="form-control"
				ng-required="true"
				placeholder="City"
				form-focus="currentFocusIndex === 5"
				ng-focus="setFocus(5)"
				ng-model="registrationInfo.city">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span class="help-block" ng-show="registrationForm.city.$invalid && !registrationForm.city.$pristine">
			Must enter a city
		</span>
	</div>
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.state.$invalid && !registrationForm.state.$pristine, 'has-success': registrationForm.state.$valid}">
		<div class="input-group col-sm-12">
			<select
				class="form-control"
				name="state"
				placeholder="Select a State"
				form-focus="currentFocusIndex === 6"
				ng-focus="setFocus(6)"
				ng-model="registrationInfo.state"
				ng-required="true"
				ng-options="state as state.name for state in states track by state.value">
				<option value="">State</option>
			</select>
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span class="help-block" ng-show="registrationForm.state.$invalid && !registrationForm.state.$pristine">
			Must select a state
		</span>
	</div>
	<div
		class="col-xs-4"
		ng-class="{'has-error': registrationForm.zipcode.$invalid && !registrationForm.zipcode.$pristine, 'has-success': registrationForm.zipcode.$valid}">
		<div class="input-group col-sm-12">
			<input
				type="text"
				name="zipcode"
				ng-required="true"
				class="form-control input-group"
				placeholder="ZIP Code"
				form-focus="currentFocusIndex === 7"
				ng-focus="setFocus(7)"
				ng-model="registrationInfo.zipcode"
				ng-pattern="/^[0-9]{5}$/">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span class="help-block" ng-show="registrationForm.zipcode.$invalid && !registrationForm.zipcode.$pristine">
			ZIP Code must be a 5-digit number
		</span>
	</div>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.primaryPhone.$invalid && !registrationForm.primaryPhone.$pristine, 'has-success': registrationForm.primaryPhone.$valid}">
	<div class="input-group col-sm-12">
		<input
			type="text"
			name="primaryPhone"
			class="form-control"
			placeholder="Primary Phone Number (e.g. 123-456-7890)"
			form-focus="currentFocusIndex === 8"
			ng-focus="setFocus(8)"
			ng-required="true"
			ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"
			ng-model="registrationInfo.primaryPhone">
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-asterisk"></i>
		</span>
	</div>
	<span class="help-block" ng-show="registrationForm.primaryPhone.$invalid && !registrationForm.primaryPhone.$pristine">
		Must enter a valid, 10-digit, phone number (e.g. 123-456-7890)
	</span>
</div>

<div class="spacer-25"
	ng-class="{'has-error': registrationForm.secondaryPhone.$invalid && !registrationForm.secondaryPhone.$pristine, 'has-success': registrationForm.secondaryPhone.$valid}">
	<input
		type="text"
		name="secondaryPhone"
		class="form-control"
		placeholder="Secondary Phone Number (e.g. 123-456-7890)"
		form-focus="currentFocusIndex === 9"
		ng-focus="setFocus(9)"
		ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"
		ng-model="registrationInfo.secondaryPhone">
	<span class="help-block" ng-show="registrationForm.secondaryPhone.$invalid && !registrationForm.secondaryPhone.$pristine">
		Must enter a valid, 10-digit, phone number (e.g. 123-456-7890)
	</span>
</div>

<div class="spacer-25" ng-repeat="email in registrationInfo.emails">
	<ng-form name="emailForm">
		<div
			class="input-group col-sm-12"
			ng-class="{'has-error': emailForm.email.$invalid && !emailForm.email.$pristine, 'has-success': emailForm.email.$valid}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-success" ng-click="addEmail()" ng-show="$last">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<button
					type="button"
					class="btn btn-danger"
					ng-click="removeEmail($index)"
					ng-show="registrationInfo.emails.length > 1">
					<i class="glyphicon glyphicon-minus"></i>
				</button>
			</span>
			<input
				type="email"
				name="email"
				class="form-control"
				placeholder="Email Address"
				form-focus="currentFocusIndex === (10 + $index)"
				ng-focus="setFocus(10 + $index)"
				ng-required="true"
				ng-model="email.email">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-asterisk"></i>
			</span>
		</div>
		<span class="help-block" ng-show="registrationForm.email{{$index}}.$invalid && !registrationForm.email{{$index}}.$pristine">
			Must enter a valid email address
		</span>
	</ng-form>
</div>
